src/.vs
src/packages
src/Cpbp/bin
src/Cpbp/obj
src/Cpbp.Core/bin
src/Cpbp.Core/obj
src/Cpbp.Tests/bin
src/Cpbp.Tests/obj
/.vs
/src/Cpbp/*.snk
/Samples/packages
/Samples/.vs/Samples/v16
/Samples/SimpleUsage/obj/Debug
/Samples/SimpleUsage/bin/Debug
/Samples/WithModuleUsage/obj/Debug
/Samples/WithModuleUsage/bin/Debug
/src/Cpbp.Core/bin/Debug/Cpbp.Core.1.0.0.nupkg
/src/Cpbp.Tests/obj/Debug/netcoreapp3.1/Cpbp.Tests.AssemblyInfo.cs
/src/Cpbp.Tests/obj/Debug/netcoreapp3.1/Cpbp.Tests.AssemblyInfoInputs.cache
